body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    background: linear-gradient(to left, #8f94fb, #4e54c8);
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Стили для информации о пользователе */
.user-info {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.avatar-container {
    position: relative;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer; /* Добавлено */
}

.avatar-options {
    display: none;
    position: absolute;
    top: 105px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.avatar-options ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.avatar-options ul li {
    margin-bottom: 10px;
}

.avatar-options button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.avatar-options button:hover {
    color: #007bff;
}

.show {
    display: block;
}

.user-details {
    flex-grow: 1;
}

.user-details h2 {
    margin-bottom: 10px;
}

.user-details p {
    margin: 5px 0;
}

/* Стили для формы загрузки файла */
form {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="file"] {
    display: block;
    margin-bottom: 10px;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Стили для галереи фотографий */
#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

#gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

#gallery img:hover {
    transform: scale(1.1);
}

/* Стили для ссылки выхода */
.logout-link {
    display: block;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    margin-top: 20px;
}

.logout-link:hover {
    color: #0056b3;
}
