/* Стили для фона */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    background: linear-gradient(to left, #8f94fb, #4e54c8);
    position: relative;
}
.album{
    width: 250px;
    height: 250px;
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: inline-block;
    margin: 20px;
}